---
import '../styles/variables.scss';
import '../styles/reset.scss';
import '../styles/global.scss';
import description from '../data/description.json';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description}>
		<meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Laxend:wght@100;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css">
  </head>
  <body>
    <slot />
  </body>
</html>
