---
import '../styles/variables.scss';
import '../styles/reset.scss';
import '../styles/global.scss';
import description from '../data/description.json';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description}>
		<meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap" rel="preload" as="style" fetchpriority="high" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;900&display=swap" rel="stylesheet">
</noscript>

  </head>
  <body>
    <slot />
  </body>
</html>
